
<div class="wrapper">

<select id="start_date_year" name="start_date[year]"> ... </select>

  <div class="high_class">

    <h1>HighClass</h1>
<!--     <a href="#">
 -->      <div class="highclass">
      </div>
    <!-- </a> -->
  </div>

  <div class="hooli">
    <h1>Hooligan</h1>
<!--     <a href="#">
 -->      <div class="hooligan">
      </div>
   <!--  </a> -->
  </div>


  <div class="hip">
    <h1>Hipster</h1>
<!--     <a href="#">
 -->      <div class="hipster">
      </div>
   <!--  </a> -->
  </div>
</div>
<body>
  </html>