

<div class="wrapper">

  <div class="cal">
    <label for="from">From</label>
    <input type="text" id="from" name="from">
    <label for="to">to</label>
    <input type="text" id="to" name="to">
  </div>

  <div class="high_class">
    <div class="highclass">
    </div>

  </div>

  <div class="hooli">
    <div class="hooligan">
    </div>
  </div>

  <div class="hip">
    <div class="hipster">
    </div>
  </div>
</div>
