
<h1>HighClass Hooligan Hipster</h1>
<h2>Which London Are You? </h2>


<div class="wrapper">

  <div class="cal">
    <label for="from">From</label>
    <input type="text" id="from" name="from">
    <label for="to">to</label>
    <input type="text" id="to" name="to">
    <button class="todo-button">Give me some stuff to do!</button>
  </div>
<!-- 
  <div class="cal2">
    <label for="from">From</label>
    <input type="text" id="from" name="from">
    <label for="to">to</label>
    <input type="text" id="to" name="to">
    <button class="todo-button">Give me some stuff to do!</button>
  </div>

  <div class="cal3">
    <label for="from">From</label>
    <input type="text" id="from" name="from">
    <label for="to">to</label>
    <input type="text" id="to" name="to">
    <button class="todo-button">Give me some stuff to do!</button>
  </div> -->





  <div class="high_class">
    <div class="highclass">
    </div>
  </div>

  <div class="hooli">
    <div class="hooligan">
    </div>
  </div>

  <div class="hip">
    <div class="hipster">
    </div>
  </div>

<div id="result"></div>

</div>


<!--

<div class="container">

    <div class="column">
        <div id="columnTitle">Title 1</div>
        <img src="/assets/images/high_class.jpg" />

        <!/
        <img src="././app/assets/images/hipster.jpg">
        <img src="../Users/Tolulopez/Desktop/hack/hhh/app/assets/hipster.jpg">
        img tag
        -->
    <!-- </div>

    <div class="column">
        <div id="columnTitle">Title 2</div>
        <img src="http://nssdc.gsfc.nasa.gov/planetary/image/neptune_voy2.jpg" />
    </div>

    <div class="column">
        <div id="columnTitle">Title 3</div>
        <img src="http://nssdc.gsfc.nasa.gov/planetary/image/neptune_voy2.jpg" />
    </div> -->

<!-- </div>
 -->













