<div class ="outter">

<div class="wrapper">
  
  <div class="day"><p>Day 1</p></div>
  <div class="day"><p>Day 1</p></div>
  <div class="day"><p>Day 1</p></div>
  <div class="day"><p>Day 1</p></div>

</div>
</div>