// Place all the styles related to the Days controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.outter {
  height: 100%;
  width: 100%;
}


.wrapper {
  padding-top: 200px;
  margin: auto auto;
  width: 200px;
  height: 800px;

}

.day {
  display: block;
  width: 200px;
  margin: 0 auto;
  color: red;
  border: solid 1px black;
  text-align: center;
}