.wrapper{
   position: relative;
   float: left;
   left: 0px;
   width: 1278px;
   margin-bottom: 20px;
   margin-top: 0;
   background-color: white;
   height: 500px;
}
.highclass{
   position: relative;
   float: left;
   left: 10px;
   width: 406px;
   height: 406px;
   background-image: url('high_class.jpg');
   background-repeat: no-repeat;
}
.hooligan{
   position: relative;
   float: left;
   left: 30px;
   width: 406px;
   height: 406px;
   background-image: url('hooligan1.jpg');
   background-repeat: no-repeat;
}
.hipster{
   position: relative;
   float: left;
   left: 50px;
   width: 406px;
   height: 406px;
   background-image: url('hipster.jpg');
   background-repeat: no-repeat;
}

.cal {
  display: none;
}

body {
   border-width: 0px;
   padding: 0px;
   margin-top: 100px;
   font-size: 90%;
   background-color: white;
   margin-left: 60px;
}


}


